.resume {
    width: 100vw;
    height: 100vh;
    display: flex;
    &-editor {
        width: 4%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
    &-container {
        width: 92%;
        padding: 0 10rem;
        margin: 0;
        height: 100%;
        background-color: red;
    }
}
.fc-menu {
    color: white;
}
.fa-1s {
    font-size: 1.25rem;
}
.menu-icon {
    width: 100%;
    padding: 1rem;
    text-align: center;
    &-active {
        border-left: 2px white solid;
    }
}
