.resume {
    width: 100vw;
    height: 100vh;
    display: flex;

    &-editor {
        width: 4%;
        height: 100%;
        background-color: #292323;
        display: flex;
        flex-direction: column;
        padding: 1% 0;
        z-index: 2;
        transition: width 1s ease-in-out, left 1.5s ease-in-out;
    }

    &-container {
        width: 92%;
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        &-details {
            width: 29%;
            height: 100%;
            background-color: #292323;
            transition: all 1s ease-in-out, left 1.5s ease-in-out;
        }
        &-content {
            padding: 0 10%;
            height: 100%;
            width: 100%;
            transition-property: all;
            transition-duration: 4s;
        }
    }
}

.fc-menu {
    color: white;
}

.menu-icon {
    transition: width 1s ease-in-out, left 1.5s ease-in-out;

    width: 100%;
    margin-bottom: 52%;
    padding: 25% 25%;
    text-align: center;
    &-active-left {
        border-left: 2px white solid;
        background-color: #413d3d;
    }
    &-active-right {
        border-right: 2px white solid;
        background-color: #413d3d;
    }
    &:hover {
        background-color: #413d3dbe;
    }
}
@media only screen and (max-width: 600px) {
    .resume {
        &-editor {
            width: 12%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .resume {
        &-editor {
            width: 12%;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .resume {
        &-editor {
            width: 10%;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .resume {
        &-editor {
            width: 6%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .resume {
        &-editor {
            width: 4%;
        }
    }
}
