.res {
    &-cover {
        margin: 5% 0;
        border: 1px solid black;
        height: 90vh;
        width: 100%;
        padding: 3%;
        display: flex;
        justify-content: space-between;
        &-left {
            width: 39%;
        }
        &-right {
            width: 59%;
        }
    }
}
