<div class="res-cover">
    <div class="res-cover-left"></div>
    <div class="res-cover-right">
        <div class="content-wrapper">

            <span class="content-wrapper-title"> <i class="mr-xxs fa-1xs fas fa-users"></i>About Me</span>

            <div class="content-wrapper-body">
                I am a web developer having expertise in frontend development and exposure to back- end development. I
                design and
                develop web applications using the latest technologies to deliver the producvsavcsjI am a web developer
                having expertise
                in frontend development and exposure to back- end development
            </div>
        </div>

    </div>

</div>