<div class="res-cover">
    <div class="res-cover-left">
        <app-card [title]="'About Me'" [iconclass]="'fa-users'">
            I am a web developer having expertise in frontend development and exposure to back- end development. I
            design and
            develop web applications using the latest technologies to deliver the producvsavcsjI am a web developer
            having expertise
            in frontend development and exposure to back- end development
        </app-card>
        <app-card [title]="'About Me'" [iconclass]="'fa-users'">
            I am a web developer having expertise in frontend development and exposure to back- end development. I
            design and
            develop web applications using the latest technologies to deliver the producvsavcsjI am a web developer
            having expertise
            in frontend development and exposure to back- end development
        </app-card>
    </div>
    <div class="res-cover-right">

        <app-card [title]="'About Me'" [iconclass]="'fa-users'">
            I am a web developer having expertise in frontend development and exposure to back- end development. I
            design and
            develop web applications using the latest technologies to deliver the producvsavcsjI am a web developer
            having expertise
            in frontend development and exposure to back- end development
        </app-card>
        <app-card [title]="'About Me'" [iconclass]="'fa-users'">
            I am a web developer having expertise in frontend development and exposure to back- end development. I
            design and
            develop web applications using the latest technologies to deliver the producvsavcsjI am a web developer
            having expertise
            in frontend development and exposure to back- end development
        </app-card>

    </div>

</div>